<!-- START MAIN CONTENT AREA -->
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="text-align: center">
          <img src='http://www.greengoat.com/wp-content/uploads/2018/08/cropped-hhglhjl-2.png' style='max-width: 100px; padding-bottom: 20px;'></img>
          <h2>Reset Password Request</h2>
          <p>Someone has requested a link to change your password. You can do this through the link below.</p>
          <hr>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn">
            <tbody>
              <tr>
                <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td> <%= link_to 'Reset Password', edit_users_password_url(1, reset_password_token: @reset_password_token) %> </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <p>If you didn't request this, please ignore this email.</p>
          <p>Your password won't change until you access the link above and create a new one.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-- END MAIN CONTENT AREA -->
