<p>Hello <%= @user.to_s %>,</p>

<p>We can't provide any estimate right now because of unknown project-type. We will get back to you after further review.</p>
<p>Thank you,</p>
<p>greenGoat Admin</p>
