<footer class="">
  <div class="p-5 border-bottom bg-dark">
    <div class="row">
      <div class="col-lg-3 col-sm-12 mb-4">
        <%= image_tag 'logo_white.svg', height: '70px' %>
      </div>

      <div class="col-md-7 d-flex">
        <div>
          <ul>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">DONATE</a></li>
            <li><a href="#">ABOUT</a></li>
          </ul>
        </div>

        <div>
          <ul>
            <li><a href="#">Appliances</a></li>
            <li><a href="#">Bathroom</a></li>
            <li><a href="#">Building Materials</a></li>
            <li><a href="#">Doors & Windows</a></li>
          </ul>
        </div>

        <div>
          <ul>
            <li><a href="#">Electrical</a></li>
            <li><a href="#">Flooring</a></li>
            <li><a href="#">Fireplaces Materials</a></li>
            <li><a href="#">Furniture</a></li>
          </ul>
        </div>

        <div>
          <ul>
            <li><a href="#">Heating & Cooling</a></li>
            <li><a href="#">Kitchen</a></li>
            <li><a href="#">Lawn & Outdoor</a></li>
            <li><a href="#">Lighting</a></li>
          </ul>
        </div>

      </div>

      <div class="col-md-2 d-flex justify-content-end">
        <a href="" class="px-1"><%= image_tag 'facebook.svg', height: '40px' %></a>
        <a href="" class="px-1"><%= image_tag 'twitter.svg', height: '40px' %></a>
        <a href="" class="px-1"><%= image_tag 'pinterest.svg', height: '40px' %></a>
      </div>
    </div>
  </div>
</footer>
