<div class="col-4 col-md-2 col-sm-4 col-xl-2 quick-links">
  <h4 class="text-center mt-4 mb-4">Quick links</h4>
  <ul style="margin-left: -35px;">
    <li class="mb-4">
      <%= link_to calculate_worth_path do %>
        <i class="fas fa-arrow-right"></i>
        <span> What's My Stuff Worth?</span>
      <% end %>
    </li>

    <li class="mb-4">
      <%= link_to items_path do %>
        <i class="fas fa-arrow-right"></i>
        <span> Market Place</span>
      <% end %>
    </li>

    <li class="mb-4">
      <%= link_to join_email_list_path do %>
        <i class="fas fa-arrow-right"></i>
        <span> Join Our Mail List</span>
      <% end %>
    </li>
  </ul>
</div>
