<div class="container-fluid estimate">
  <div class="row">
    <div class="col-md-8 bg-primary my-4 p-5">
      <h1>Estimate your tax deduction</h1>
      <p class="m-0">Choose greenGoat for deconstruction and get a tax deduction equivalent to your home’s material value</p>
      <div class="btn-primary mt-4">ESTIMATE DEDUCTION</div>
    </div>
  </div>
</div>

<div class="blue">another test</div>

<h3>words</h3>