<div class="jumbotron jumbotron-fluid bg-primary">
  <div class="container px-5 px-md-2">
    <h1>Deconstruction is the new demolition</h1>
    <p>greenGoat is a non-profit that salvages materials from residential demolition projects. Our mission is to save the energy, raw materials, and other natural resources wasted when useful materials are tossed away.</p>
  </div>
</div>

<br/>

<div class="container-fluid">
  <div class="row mx-5">
    <div class="col-md-4 text-center d-flex flex-column align-items-center mb-2">
      <div class="about1">1</div>
      <h3>Deconstruction</h3>
      <p>greenGoat deconstructs your residential property or works with your contractor on salvaging materials</p>
    </div>
    <div class="col-md-4 text-center d-flex flex-column align-items-center mb-2">
      <div class="about2">2</div>
      <h3>Tax Deduction</h3>
      <p>You get a tax deduction for the value of the donated materials — everything from lumber down to light switches</p>
    </div>
    <div class="col-md-4 text-center d-flex flex-column align-items-center mb-2">
      <div class="about3">3</div>
      <h3>Material Reuse</h3>
      <p>greenGoat redistributes the materials to thrifty do-it-yourselfers, reducing construction & demolition waste </p>
    </div>
  </div>
</div>


<br/>

<div class="container-fluid estimate">
  <div class="row">
    <div class="col-md-8 bg-primary my-4 p-5">
      <h2>Estimate your tax deduction</h2>
      <p class="m-0">Choose greenGoat for deconstruction and get a tax deduction equivalent to your home’s material value</p>
      <div class="btn-primary mt-4">ESTIMATE DEDUCTION</div>
    </div>
  </div>
</div>

<div class="container p-5 bg-light my-0 my-md-5">
  <h2>Get in Contact</h2>
  <p>To inquire about working with greenGoat for a deconstruction or salvage job, contact us via email or phone</p>
  <p class="ml-4 mb-0"><b>Email:</b> thegoat@greengoat.org</p>
  <p class="ml-4"><b>Phone:</b> (617) 504 2095</p>
  <h2 class="my-4">Frequently Asked Question</h2>
  <h3 class="subtitle">Does greenGoat take on smaller projects, or do they only do full house demolition?</h3>
  <p class="mb-4">We take on projects of different sizes. Our most common projects are entire house demolitions, large-scale gutting for renovations, and gutting for kitchen/bathroom renovations. </p>
  <h3 class="subtitle">I have a contractor that is doing demolition for my project. Can I still donate the materials?</h3>
  <p class="mb-4">Yes! We need some lead time, but we can work with your contractor to schedule salvages.</p>
  <h3 class="subtitle">Does it cost money to have greenGoat do demolition work?</h3>
  <p class="mb-4">We ask donors to support our ongoing programs through work grants. All grants also qualify as tax deductions for donors. </p>
  <h3 class="subtitle">How do I get my tax deduction for donating?</h3>
  <p class="mb-4">We work with qualified appraisers to get our donors tax-ready reporting.</p>
  <h3 class="subtitle">Does greenGoat work with non-residential properties? </h3>
  <p class="mb-4">We specialize in residential properties, but we encourage you to reach out using the contact info listed above. </p>
  <h3 class="subtitle">Can I donate a single item?</h3>
  <p class="mb-4">Unfortunately, we are not able to accept single items. We recommend donating functional items like small appliances to Goodwill, or looking into your local recycling program. </p>
</div>