<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, your account is confirmed now, you can sign in with new password and start using the applicaion.</p>
</div>
