<div class="available-items-index">
  <div class="page-title mb-4">
    <h1>Services</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-5 text-center mb-5 p-5 services-block">
    <div class="image">
      <%= image_tag 'grants.jpeg', class: 'rounder-circle' %>
    </div>

    <div class="title mt-2">
      <h3>Grant Projects</h3>
    </div>

    <div class="description mt-3">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
    </div>
  </div>

  <div class="col-lg-1">
  </div>

  <div class="col-sm-12 col-lg-5 text-center mb-5 p-5 services-block">
    <div class="image">
      <%= image_tag 'recycle.jpeg', class: 'rounder-circle' %>
    </div>

    <div class="title mt-2">
      <h3>Recycle Plan</h3>
    </div>

    <div class="description mt-3">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
    </div>
  </div>
</div>
