<div class="row">
  <%= render 'sidebar' %>

  <div class="col-8 col-md-10 col-sm-8 col-xl-10">
    <div class="page-title mb-4">
      <h1>Who Are We</h1>
    </div>

    <div class="intro lightgray-background p-4 border-radius-15">
      greenGoat facilitates evolutionary resource management (from our beginnings in salvaging and
      recycling construction and demolition - &#39;C&amp;D&#39; - debris to our current concentration in residential
      projects). We handle everything from material placement, removal (for full demo projects),
      hauling storage, and reporting.
    </div>
  </div>
</div>
