<h2>Generate Reports</h2>

<ul>
  <li><%= link_to 'Items waiting for uninstallation', admin_reports_item_waiting_uninstallation_path %></li>
  <li><%= link_to 'Items waiting for delivery', admin_reports_item_waiting_delivery_path %></li>
</ul>
