<div class="available-items-index">
  <div class="page-title mb-4">
    <h1>Categories</h1>
  </div>
</div>

<div class="container-fluid mt-2 mb-5">
  <div class="card-columns">
    <% @categories.each do |category| %>
      <%= link_to items_path(q: { category_id: category.id }) do %>
        <div class="card text-center">
          <%= image_tag 'category-default.svg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= category.name %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
