// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

$primary-color: #8d2977;
@import "arctic_admin/base";
@import "active_admin/select2/base";

.has_many_container {
  margin-bottom: 5px;
}

.formtastic.project {
  textarea {
    height: 20px;
  }
}
