.estimate {
    background-image: image-url('burned_house.png');
    background-position: right;
    background-size: 110%;
}

.blue {
    color: blue;
    background-color: cadetblue;
}

h3 {
    color: darkmagenta;
}


.carousel-item {
    background: red;
    color: white;
  }